.container {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content max-content;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
}